body {
   margin: 0;
   padding: 0;
   background: linear-gradient(180deg, rgb(0,180,195,0.7),50%,rgb(97,97,97,0.8));
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
 }

.titleh1{
    margin-top: 0%;
    color: aliceblue;
}
.fb,.google{
    background-color: #FFFF;
    margin-left: 30%;
    margin-top: 20%;
}
.fb{
    color: blue;
}
.info-text{
    margin-top:10%;
    margin-bottom: 50%;
    color: aliceblue;
}
.btnF{
   margin-bottom: 5%; 
}
.fb-text{
 color: black;
}
.img-logo{
    background-color: antiquewhite;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-left: 32%;
    
}
.center-photo img {
    border-radius: 50%;
    width: 40%;
    margin-top: 15%;
    margin-left: 25%;
}
.circle-btn {
    border-radius: 50%;
    border: none;
    background-color: gray;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;

}
.colortitle{
    margin-top:13%;
    color:gray;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.parrafo{
    margin-top:20px;
    margin-left:4%;
    color:black;
    
}
/* .foot-icons {
    padding: 1%;
} */
/* .foot-icons i {
    padding-bottom: 8%;
} */

.fa-user, .fa-sign-out-alt {
    font-size: 2em;
    padding: 2rem;
}
/* .navi{
    margin-top:9%;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
} */
.marg-title{
    margin-top: 20%;
    margin-left: 10%;
    color:white;
}
.img-nav{
    background-color: aliceblue;
    margin: 30px;
    width: 250px;
    height: 150px;
}
.option{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.option input {
    display: none;
}
.next-btn{
    background-color:#FFFF;
    border-radius: 10px;
    margin-top:40px;
    margin-left:100px;
}
#result{
    margin-top:50%;
    background-color: black;
    color:white;
    font-size: 30px;
}
.next-button{
    align-self: center;
}
.option:hover {
    background-color: #fff;
    color: black;
}
.margen{
    margin-top:10%;
    margin-left: 10%;
}
.img-margin{
    margin-top:40px;
    margin-left: 10%;
}
.boton-start{
    color:white;
    margin-top: 30px;
    border-radius: 10px;
    background-color: black;
    border:none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:35%;
}
@media (max-width:600px){
    .img-logo{
        text-align: center;
    }
}