body{
   margin: 0px;;
 }
.general{
     background-color: black;
     width: 100%;
     height: auto;
     background: linear-gradient(180deg, rgb(34,92,198,0.7),50%,rgb(65,15,29,0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.titleh1{
    margin-top: 0%;
    color: aliceblue;
}
.fb,.google{
    background-color: #FFFF;
    margin-left: 30%;
    margin-top: 20%;
}
.fb{
    color: blue;
}
.info-text{
    margin-top:10%;
    margin-bottom: 50%;
    color: aliceblue;
}
.btnF{
   margin-bottom: 5%; 
}
.fb-text{
 color: black;
}
.img-logo{
    background-color: antiquewhite;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-left: 32%;
    
}
.center-photo img {
    align-self: center;
    border-radius: 50%;
    width: 60%;
  }

footer{
    height: 80px;
    margin-top: 25%;
    background-color: black;
}
.navi{
    margin-top:9%;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}
@media (max-width:600px){
    .img-logo{
        text-align: center;
    }
}